Repository GrizzHacks/hackathon-portal, pull requests merged in 2021-03, with the labels that each got.

#44 chore: Configure Jest Test Framework and GitHub Automated Tests
  .github/ISSUE_TEMPLATE/workflows/build-and-test.yaml
  functions/jest.config.ts
  functions/package-lock.json
  functions/package.json
  functions/src/testConfig.test.ts
  webapp/package.json
  webapp/src/App.test.tsx
Labels: API, DevOps, Web App

#45 chore: Recreate Build and Test Action from GitHub
  .github/workflows/build-and-test.yaml
Labels: DevOps

#46 fix: Fixed Extra Steps in GitHub Build and Test Action
  .github/ISSUE_TEMPLATE/workflows/build-and-test.yaml
Labels: DevOps

#47 fix: Fix Build and Test GitHub Actions via GitHub UI
  .github/workflows/build-and-test.yaml
Labels: DevOps

#48 fix: Make All GitHub Actions Edits via the GitHub UI
  .github/ISSUE_TEMPLATE/workflows/build-and-test.yaml
  .github/workflows/build-and-test.yaml
  .github/workflows/build-default.yml
  .github/workflows/build-functions.yml
  .github/workflows/build-webapp.yml
  .github/workflows/test-default.yml
  .github/workflows/test-functions.yml
  .github/workflows/test-webapp.yml
  README.md
  functions/src/codeCoverageDummyTest.test.ts
  functions/src/index.ts
  functions/src/testConfig.test.ts
Labels: DevOps

#43 feat(functions): Created a Type Validator to Parse JSON Request Bodies
  functions/src/@types/helper/typeValidator.d.ts
  functions/src/helpers/index.ts
  functions/src/helpers/typeValidator.test.ts
  functions/src/helpers/typeValidator.ts
Labels: API, Internal Libraries, enhancement

#8 feat(api): Create STMP Sponsor Tiers API Endpoints
  @types/modules/stpm/tiers.d.ts
  functions/src/helpers/typeValidator.ts
  functions/src/modules/stpm/companies/getCompanies.ts
  functions/src/modules/stpm/tiers/createCompany.ts
  functions/src/modules/stpm/tiers/createTier.ts
  functions/src/modules/stpm/tiers/deleteCompany.ts
  functions/src/modules/stpm/tiers/deleteTier.ts
  functions/src/modules/stpm/tiers/getCompany.ts
  functions/src/modules/stpm/tiers/getTier.ts
  functions/src/modules/stpm/tiers/index.ts
  functions/src/modules/stpm/tiers/listCompanies.ts
  functions/src/modules/stpm/tiers/listTiers.ts
  functions/src/modules/stpm/tiers/updateCompany.ts
  functions/src/modules/stpm/tiers/updateTier.ts
  git/hg/codecov.yaml
Labels: API, Sponsor Tiers and Permissions Module (STPM), bug, enhancement

#7 feat(api): Create STMP Sponsor Companies API Endpoints
  @types/modules/stpm/companies.d.ts
  @types/modules/stpm/tiers.d.ts
  functions/.DS_Store
  functions/src/modules/stpm/companies/createCompany.ts
  functions/src/modules/stpm/companies/deleteCompany.ts
  functions/src/modules/stpm/companies/getCompanies.ts
  functions/src/modules/stpm/companies/getCompany.ts
  functions/src/modules/stpm/companies/getCompanyBenefits.ts
  functions/src/modules/stpm/companies/listCompanies.ts
  functions/src/modules/stpm/companies/updateCompany.ts
  functions/src/modules/stpm/tiers/createTier.ts
  functions/src/modules/stpm/tiers/getTier.ts
Labels: API, Sponsor Tiers and Permissions Module (STPM), enhancement

#51 feat: setting up react-router structure
  functions/package-lock.json
  webapp/package-lock.json
  webapp/package.json
  webapp/src/App.tsx
  webapp/src/components/Home.tsx
Labels: Generic UI, Web App, enhancement

#57 feat(webapp): Add Styles, Navbar, Notifications, and Loading Page
  webapp/src/App.css
  webapp/src/App.tsx
  webapp/src/components/Home.tsx
  webapp/src/components/layouts/NavBar.tsx
  webapp/src/components/misc/BugReportFab.tsx
  webapp/src/components/misc/LoadingScreen.tsx
  webapp/src/components/misc/Notifications.tsx
  webapp/src/components/misc/SquareAvatar.tsx
  webapp/src/components/pages/ErrorPage.tsx
  webapp/src/components/pages/Home.tsx
  webapp/src/devTools/ApiExplorer.tsx
  webapp/src/index.tsx
  webapp/src/logo.svg
  webapp/src/styles/CustomThemeProvider.tsx
  webapp/src/styles/index.ts
  webapp/src/styles/theme.ts
  webapp/src/styles/useDarkMode.ts
Labels: Generic UI, Web App, enhancement

#66 chore(functions): Initialize Prize Module
  functions/src/index.ts
  functions/src/modules/pm/categories/createCategory.ts
  functions/src/modules/pm/categories/deleteCategory.ts
  functions/src/modules/pm/categories/getCategory.ts
  functions/src/modules/pm/categories/index.ts
  functions/src/modules/pm/categories/listCategories.ts
  functions/src/modules/pm/categories/prizes/createPrize.ts
  functions/src/modules/pm/categories/prizes/deletePrize.ts
  functions/src/modules/pm/categories/prizes/getPrize.ts
  functions/src/modules/pm/categories/prizes/index.ts
  functions/src/modules/pm/categories/prizes/listPrizes.ts
  functions/src/modules/pm/categories/prizes/updatePrize.ts
  functions/src/modules/pm/categories/updateCategory.ts
  functions/src/modules/pm/groups/createGroup.ts
  functions/src/modules/pm/groups/deleteGroup.ts
  functions/src/modules/pm/groups/getGroup.ts
  functions/src/modules/pm/groups/index.ts
  functions/src/modules/pm/groups/listGroups.ts
  functions/src/modules/pm/groups/updateGroup.ts
  functions/src/modules/pm/index.ts
Labels: API, Prize Module (PM)

#64 chore(functions): Initialize Mini-Events and Workshops Module
  functions/src/index.ts
  functions/src/modules/mewm/events/createEvent.ts
  functions/src/modules/mewm/events/deleteEvent.ts
  functions/src/modules/mewm/events/getEvent.ts
  functions/src/modules/mewm/events/index.ts
  functions/src/modules/mewm/events/listEvents.ts
  functions/src/modules/mewm/events/resources/createResource.ts
  functions/src/modules/mewm/events/resources/deleteResource.ts
  functions/src/modules/mewm/events/resources/getResource.ts
  functions/src/modules/mewm/events/resources/index.ts
  functions/src/modules/mewm/events/resources/listResources.ts
  functions/src/modules/mewm/events/resources/updateResource.ts
  functions/src/modules/mewm/events/updateEvent.ts
  functions/src/modules/mewm/index.ts
  functions/src/modules/mewm/timeslots/createTimeslot.ts
  functions/src/modules/mewm/timeslots/deleteTimeslot.ts
  functions/src/modules/mewm/timeslots/getTimeslot.ts
  functions/src/modules/mewm/timeslots/index.ts
  functions/src/modules/mewm/timeslots/listTimeslots.ts
  functions/src/modules/mewm/timeslots/updateTimeslot.ts
  functions/src/modules/mewm/types/createType.ts
  functions/src/modules/mewm/types/deleteType.ts
  functions/src/modules/mewm/types/getType.ts
  functions/src/modules/mewm/types/index.ts
  functions/src/modules/mewm/types/listTypes.ts
  functions/src/modules/mewm/types/updateType.ts
Labels: API, Mini-Events and Workshops Module (MEWM)

#75 fix(functions): Support Type Validator Enums and Dictionaries
  @types/modules/stpm/companies.d.ts
  functions/src/@types/helper/typeValidator.d.ts
  functions/src/helpers/typeValidator.test.ts
  functions/src/helpers/typeValidator.ts
  functions/src/modules/stpm/companies/createCompany.ts
  functions/src/modules/stpm/companies/updateCompany.ts
  functions/src/modules/stpm/tiers/createTier.ts
  functions/src/modules/stpm/tiers/updateTier.ts
Labels: API, Internal Libraries, Sponsor Tiers and Permissions Module (STPM), bug

#79 fix: Fix Test Coverage Reports on Merge to Main
  .github/workflows/build-default.yml
  .github/workflows/build-functions.yml
  .github/workflows/build-webapp.yml
  .github/workflows/test-default.yml
  .github/workflows/test-functions.yml
  .github/workflows/test-webapp.yml
Labels: DevOps, bug

#77 feat(api): Create all PM/Category endpoints and datatype
  .gitignore
  @types/modules/pm/categories.d.ts
  functions/src/index.ts
  functions/src/modules/pm/categories/createCategory.ts
  functions/src/modules/pm/categories/deleteCategory.ts
  functions/src/modules/pm/categories/getCategory.ts
  functions/src/modules/pm/categories/listCategories.ts
  functions/src/modules/pm/categories/updateCategory.ts
Labels: API, Prize Module (PM), enhancement

#91 fix(functions): Fix PM Category Endpoint Sponsor User Bugs
  functions/src/modules/pm/categories/deleteCategory.ts
  functions/src/modules/pm/categories/getCategory.ts
  functions/src/modules/pm/categories/updateCategory.ts
Labels: API, Prize Module (PM), bug

#92 feat(functions): Add STPM Get Company Benefits Endpoint
  functions/src/modules/stpm/companies/getCompanyBenefits.test.ts
  functions/src/modules/stpm/companies/getCompanyBenefits.ts
  functions/src/modules/stpm/companies/index.ts
Labels: API, Sponsor Tiers and Permissions Module (STPM), enhancement

#78 feat(api): Create all METM/mini-event endpoints and datatype
  .gitignore
  @types/modules/mewm/events.d.ts
  functions/src/modules/mewm/events/createEvent.ts
  functions/src/modules/mewm/events/deleteEvent.ts
  functions/src/modules/mewm/events/getEvent.ts
  functions/src/modules/mewm/events/listEvents.ts
  functions/src/modules/mewm/events/updateEvent.ts
Labels: API, Mini-Events and Workshops Module (MEWM), enhancement

#98 feat(functions): Expand UAS Info with User and Company Details
  @types/systems/uas.d.ts
  functions/src/modules/mewm/events/createEvent.ts
  functions/src/modules/mewm/events/deleteEvent.ts
  functions/src/modules/mewm/events/getEvent.ts
  functions/src/modules/mewm/events/listEvents.ts
  functions/src/modules/mewm/events/updateEvent.ts
  functions/src/modules/pm/categories/createCategory.ts
  functions/src/modules/pm/categories/deleteCategory.ts
  functions/src/modules/pm/categories/getCategory.ts
  functions/src/modules/pm/categories/listCategories.ts
  functions/src/modules/pm/categories/updateCategory.ts
  functions/src/modules/stpm/companies/getCompany.ts
  functions/src/modules/stpm/companies/getCompanyBenefits.ts
  functions/src/modules/stpm/companies/updateCompany.ts
  functions/src/systems/uas/tokenParser.ts
Labels: API, BREAKING CHANGE, Unified Authentication System (UAS), bug, enhancement

#82 feat(api): Create all mewm/event type endpoints
  .gitignore
  @types/modules/mewm/types.d.ts
  functions/src/modules/mewm/types/createType.ts
  functions/src/modules/mewm/types/deleteType.ts
  functions/src/modules/mewm/types/getType.ts
  functions/src/modules/mewm/types/listTypes.ts
  functions/src/modules/mewm/types/updateType.ts
Labels: API, Mini-Events and Workshops Module (MEWM), enhancement

#102 file structure for urm modules
  functions/src/modules/urm/index.ts
  functions/src/modules/urm/profiles/applications/createApplications.ts
  functions/src/modules/urm/profiles/applications/deleteApplications.ts
  functions/src/modules/urm/profiles/applications/getApplications.ts
  functions/src/modules/urm/profiles/applications/index.ts
  functions/src/modules/urm/profiles/applications/listApplications.ts
  functions/src/modules/urm/profiles/applications/updateApplications.ts
  functions/src/modules/urm/profiles/createProfiles.ts
  functions/src/modules/urm/profiles/deleteProfiles.ts
  functions/src/modules/urm/profiles/getProfiles.ts
  functions/src/modules/urm/profiles/index.ts
  functions/src/modules/urm/profiles/updateProfiles.ts
  functions/src/modules/urm/questions/createQuestions.ts
  functions/src/modules/urm/questions/deleteQuestions.ts
  functions/src/modules/urm/questions/getQuestions.ts
  functions/src/modules/urm/questions/index.ts
  functions/src/modules/urm/questions/listQuestions.ts
  functions/src/modules/urm/questions/updateQuestions.ts
  functions/src/modules/urm/rules/createRules.ts
  functions/src/modules/urm/rules/deleteRules.ts
  functions/src/modules/urm/rules/getRules.ts
  functions/src/modules/urm/rules/index.ts
  functions/src/modules/urm/rules/listRules.ts
  functions/src/modules/urm/rules/updateRules.ts
Labels: API
