Repository GrizzHacks/hackathon-portal, pull requests merged in 2021-04, with the labels that each got.

#81 feat(functions): Create MEWM Time Slot API Endpoints
  @types/modules/mewm/timeslots.d.ts
  functions/src/modules/mewm/timeslots/createTimeslot.ts
  functions/src/modules/mewm/timeslots/deleteTimeslot.ts
  functions/src/modules/mewm/timeslots/getTimeslot.ts
  functions/src/modules/mewm/timeslots/listTimeslots.ts
  functions/src/modules/mewm/timeslots/updateTimeslot.ts
Labels: API, Mini-Events and Workshops Module (MEWM), enhancement

#94 PM Prize Category Group API
  @types/modules/pm/groups.d.ts
  functions/src/modules/pm/categories/prizes/deletePrize.ts
  functions/src/modules/pm/categories/prizes/getPrize.ts
  functions/src/modules/pm/groups/createGroup.ts
  functions/src/modules/pm/groups/deleteGroup.ts
  functions/src/modules/pm/groups/getGroup.ts
  functions/src/modules/pm/groups/index.ts
  functions/src/modules/pm/groups/listGroups.ts
  functions/src/modules/pm/groups/updateGroup.ts
Labels: API, Prize Module (PM), enhancement

#101 feat(webapp): Create Details/Create/Edit Page Template
  webapp/package-lock.json
  webapp/package.json
  webapp/src/@types/index.d.ts
  webapp/src/App.tsx
  webapp/src/components/layouts/DetailsEditForm.tsx
  webapp/src/components/pages/CreateDetailsEditPage.tsx
  webapp/src/styles/index.ts
Labels: Generic UI, Web App, enhancement

#96 feat(webapp): Create re-usable generic list component
  webapp/src/@types/index.d.ts
  webapp/src/components/misc/GenericListItem.tsx
  webapp/src/components/pages/ListPage.tsx
Labels: Generic UI, Internal Libraries, Web App, enhancement

#106 feat(webapp): Create Basic Navigation Menu
  webapp/src/App.tsx
  webapp/src/components/layouts/LeftMenu.tsx
  webapp/src/components/layouts/NavBar.tsx
  webapp/src/components/misc/MenuItemGroup.tsx
  webapp/src/components/pages/Error404Page.tsx
Labels: Generic UI, Web App, enhancement

#108 feat(webapp): Create Basic STPM UI
  webapp/src/App.tsx
  webapp/src/components/layouts/LeftMenu.tsx
  webapp/src/components/modules/stpm/CompaniesPages.tsx
  webapp/src/components/modules/stpm/TiersPages.tsx
  webapp/src/components/modules/stpm/index.tsx
Labels: Sponsor Tiers and Permissions Module (STPM), Web App, enhancement

#93 PM Prize category prize APIs
  @types/modules/pm/prize.d.ts
  functions/src/modules/pm/categories/prizes/createPrize.ts
  functions/src/modules/pm/categories/prizes/deletePrize.ts
  functions/src/modules/pm/categories/prizes/getPrize.ts
  functions/src/modules/pm/categories/prizes/listPrizes.ts
  functions/src/modules/pm/categories/prizes/updatePrize.ts
Labels: API, Prize Module (PM), enhancement

#107 Event resource API endpoints
  @types/modules/mewm/resource.d.ts
  functions/src/modules/mewm/events/resources/createResource.ts
  functions/src/modules/mewm/events/resources/deleteResource.ts
  functions/src/modules/mewm/events/resources/getResource.ts
  functions/src/modules/mewm/events/resources/listResources.ts
  functions/src/modules/mewm/events/resources/updateResource.ts
Labels: API, Mini-Events and Workshops Module (MEWM), enhancement

#110 feat(webapp): Create Basic PM UI
  webapp/src/App.tsx
  webapp/src/components/layouts/LeftMenu.tsx
  webapp/src/components/modules/pm/CategoriesPages.tsx
  webapp/src/components/modules/pm/GroupsPages.tsx
  webapp/src/components/modules/pm/PrizesPages.tsx
  webapp/src/components/modules/pm/index.tsx
  webapp/src/components/modules/stpm/CompaniesPages.tsx
  webapp/src/components/modules/stpm/TiersPages.tsx
  webapp/src/components/pages/CreateDetailsEditPage.tsx
Labels: Prize Module (PM), Web App, enhancement

#111 feat(webapp): Create Basic MEWM UI
  @types/modules/mewm/resource.d.ts
  @types/modules/mewm/timeslots.d.ts
  functions/src/modules/mewm/events/resources/createResource.ts
  functions/src/modules/mewm/events/resources/deleteResource.ts
  functions/src/modules/mewm/events/resources/getResource.ts
  functions/src/modules/mewm/events/resources/listResources.ts
  functions/src/modules/mewm/events/resources/updateResource.ts
  webapp/src/App.tsx
  webapp/src/components/layouts/LeftMenu.tsx
  webapp/src/components/modules/mewm/EventsPages.tsx
  webapp/src/components/modules/mewm/ResourcesPages.tsx
  webapp/src/components/modules/mewm/TimeslotsPages.tsx
  webapp/src/components/modules/mewm/TypesPages.tsx
  webapp/src/components/modules/mewm/index.tsx
Labels: Mini-Events and Workshops Module (MEWM), Web App, enhancement

#109 feat(api): Create all URM/profile endpoints and datatype
  @types/modules/urm/profiles.d.ts
  functions/src/modules/urm/profiles/createProfiles.ts
  functions/src/modules/urm/profiles/deleteProfiles.ts
  functions/src/modules/urm/profiles/getProfiles.ts
  functions/src/modules/urm/profiles/index.ts
  functions/src/modules/urm/profiles/listProfiles.ts
  functions/src/modules/urm/profiles/updateProfiles.ts
Labels: API, User Registration Module (URM), enhancement

#114 URM questions Endpoints
  @types/modules/urm/questions.d.ts
  functions/src/index.ts
  functions/src/modules/urm/index.ts
  functions/src/modules/urm/questions/createQuestions.ts
  functions/src/modules/urm/questions/deleteQuestions.ts
  functions/src/modules/urm/questions/getQuestions.ts
  functions/src/modules/urm/questions/listQuestions.ts
  functions/src/modules/urm/questions/updateQuestions.ts
Labels: API, User Registration Module (URM), enhancement

#112 feat(api): Create all URM/application endpoints and datatype
  @types/modules/urm/applications.d.ts
  functions/src/modules/urm/profiles/applications/createApplications.ts
  functions/src/modules/urm/profiles/applications/deleteApplications.ts
  functions/src/modules/urm/profiles/applications/getApplications.ts
  functions/src/modules/urm/profiles/applications/index.ts
  functions/src/modules/urm/profiles/applications/listApplications.ts
  functions/src/modules/urm/profiles/applications/updateApplications.ts
  functions/src/modules/urm/profiles/index.ts
Labels: API, User Registration Module (URM)

#117 feat: Display Minimal Profile Information on Login Page
  @types/modules/urm/profiles.d.ts
  functions/src/modules/urm/profiles/getMinimalProfileByEmail.ts
  functions/src/modules/urm/profiles/getProfile.ts
  functions/src/modules/urm/profiles/index.ts
  webapp/src/components/auth/Login.tsx
Labels: API, User Registration Module (URM), Web App, enhancement

#121 Application Questions List/Details
  webapp/src/components/layouts/LeftMenu.tsx
  webapp/src/components/modules/urm/QuestionPages.tsx
  webapp/src/components/modules/urm/index.tsx
Labels: User Registration Module (URM), Web App, enhancement

#123 Fix: validate value when editing
  webapp/src/components/layouts/DetailsEditForm.tsx
Labels: Generic UI, enhancement
